<div class="orders_list">
  <p-table #ordersTable [value]="orders"
           dataKey="Order_ID"
           [scrollable]="true"
           scrollHeight="400px"
           [tableStyle]="{'min-width': '50rem'}"
           [rowHover]="true"
           [globalFilterFields]="['Order_ID', 'Crust', 'Flavor', 'Size', 'Table_No']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(ordersTable)"></button>
        <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="ordersTable.filterGlobal(this.filterResponse($event), 'contains')" placeholder="Search keyword" class="p-inputtext"/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="Order_ID">Order ID</th>
        <th pSortableColumn="Crust">Crust</th>
        <th pSortableColumn="Flavor">Flavor</th>
        <th pSortableColumn="Size">Size</th>
        <th pSortableColumn="Table_No">Table Number</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.Order_ID }}</td>
        <td>{{ order.Crust }}</td>
        <td>{{ order.Flavor }}</td>
        <td>{{ order.Size }}</td>
        <td>{{ order.Table_No }}</td>
        <td>
          <p-button icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteOrder(order.Order_ID)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast></p-toast>

